body {
    background-image: url("./5470679.jpg");
    background-color: #6f2ca2;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(141, 136, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
   }
.conatainer{ 
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 3%;

}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
display: flex;
align-items: ;
color: #5b5163;
font-size: 15px;
font-family: sans-serif;
}

input{
    background-color: rgba(255, 185, 228, 0.627);
    margin-bottom: 5%;
    border-radius: 10px;
    height: 35px;
    width: 300px;
    border: #6f2ca2 12px;
    
  
    }
.BOTON{
    display: flex;
   justify-content: space-around;
   align-items: center;
    background-color: #6f2ca2;

 

  

}
