body {
    background-image: url("./5470679.jpg");
    background-color: #6f2ca2;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(141, 136, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
   }
.conatainer{ 
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 3%;

}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
display: flex;
justify-content: left;
margin-left: 30px;
align-items: first baseline;
color: #5b5163;
font-size: 15px;
font-family: sans-serif;
}


input{
    border: none;
    border-bottom: 1px solid rgb(186, 186, 186);
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    
  
    }


button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background-color: rgb(176, 26, 116);
    border: none;
    cursor: pointer;
    outline: none;
    transition: .4s;
    
}
.input-field